<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>発展練習</title>
  </head>
  <body>
    <h1>発展練習</h1>
    <section id="v-if">
      <h3>v-if</h3>
      <button v-on:click="hyouji">表示する</button>
      <div v-if="seen">見つかった</div>
    </section>

    <section id="v-if-sign-in">
      <h3>v-ifでサインイン</h3>
      <div v-if="user!==null">
        <button v-on:click="signOut">サインアウト</button>
        <div>{{user.name}}さん、こんにちは！</div>
      </div>
      <div v-else>
        <button v-on:click="signIn">サインイン</button>
        <div>サインインして下さい。</div>
      </div>
    </section>

    <section id="v-for">
      <h3>v-for</h3>
      <button v-on:click="addAnimal">追加</button>
      <div v-for="animal in animals">{{animal}}</div>
    </section>

    <section id="computed">
      <h3>computed</h3>
      <div v-for="item in items">
        <span>
          {{item.price}}円の{{item.name}}が、{{item.amount}}個あります。
        </span>
        <button v-on:click="addItem(item)">+1</button>
        <button v-on:click="minusItem(item)">-1</button>
      </div>
      <div>全部で{{totalPrice}}円です。</div>
    </section>
    <script src="https://unpkg.com/vue@3.2.20"></script>
    <script src="main2.js"></script>
  </body>
</html>
